<style>
* {
    font-family: Arial;
    font-size: 1.1em;
	margin: 0px;
	padding: 0px;
    letter-spacing: -1px;
}
img {
    width: 30%;
    height: 30%;
}
#container {
    width: 100%;
    display: inline-block;
}
#study {
    width: 20%;
    height: 300px;
    background-color: purple;
    display: inline-block;
}
p {
    margin-top: 150px;
    color: white;
    text-align: center;
}
#travel {
    width: 49%;
    height: 300px;
    background-color: gray;
    display: inline-block;
}
#errands {
    width: 50%;
    height: 300px;
    background-color: green;
    display: inline-block;
}
#shopping {
    width: 49%;
    height: 300px;
    background-color: yellow;
    display: inline-block;
}
#special {
    width: 50%;
    height: 300px;
    background-color: orange;
    display: inline-block;
}
#work {
    width: 49%;
    height: 300px;
    background-color: blue;
    display: inline-block;
}
</style>

<div id="container">
		<a href="/#"><div id="study">
			<p>STUDY</p>
		</div></a>
		<div id="travel">
			<p>TRAVEL</p>
		</div>
		<div id="errands">
			<p>ERRANDS</p>
		</div>
		<div id="shopping">
			<p>SHOPPING</p>
		</div>
		<div id="special">
			<p>SPECIAL</p>
		</div>
		<div id="work">
			<p>WORK</p>
		</div>
</div>